*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
/* FONTS */
@font-face {
    font-family: 'Helvetica-bold';
    src: url('../fonts/helvetica/Helvetica-Bold.ttf'),
        url('../fonts/helvetica/Helvetica-Bold.woff'),
        url('../fonts/helvetica/Helvetica-Bold-Font.woff2');
}
@font-face {
    font-family: 'Acumin-pro-regular';
    src: url('../fonts/helvetica/Helvetica-Bold.ttf'),
        url('../fonts/helvetica/Helvetica-Bold.woff'),
        url('../fonts/helvetica/Helvetica-Bold-Font.woff2');
}
/* FONTS */
body{
    background-color: var(--color-for-bg);
    font-family: 'Helvetica-bold';
}
.container{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
/* HEADER & NAVIGATION */
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
}
.nav-ul{
    display: flex;
    align-items: center;
}
.nav-list-item:not(:first-child){
    margin-left: 22px;
}
.nav-list-item:first-child{
    margin-right: 5px;
}
.nav-list-profile{
    margin-left: 40px;
}
.nav-list-item{
    color: #343638;
    opacity: .5;
    transition: .3s ease-out;
}
.nav-link{
    font-size: var(--font-mini);
    font-weight: bold;
}
.nav-list-item:hover{
    opacity: 1;
    transition: .3s ease-in;
}
.active{
    opacity: 1;
}
/* / HEADER & NAVIGATION / */

/* NEWS SECTION */
.section-world-news{
    display: flex;
    width: 100%;
}
.left-block{
    background-image: url("../img/Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 59%;
    /* height: 600px; */
    position: relative;
}
/* .left-block img{
    max-width: 840px;

} */
.right-block{
    background-color: var(--color-white);
    width: 41%;
    padding: var(--padding-100);
}
.more-news-articles-wrapper{
    display: flex;
    flex-direction: column;
}
.more-news-title{
    max-width: 380px;
    width: 100%;
    font-size: var(--font-large);
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #EBEDED;
}
.title-hashtag{
    font-size: var(--font-middle);
    color: var(--color-pink);
    margin-bottom: 24px;
}

.article-title{
    font-size: var(--font-middle);
    line-height: 20px;
}
.article-paragraph{
    color: var(--color-disabled);
    font-size: var(--font-middle);
    line-height: 26px;
    font-family: 'Acumin-pro-regular';
}
.article{
    margin-bottom: 39px;
}
.article-time{
    font-size: var(--font-small);
    color: var(--color-disabled);
    vertical-align: text-top;
}
.article-time-icon{
  height: 16px; 
  width: 16px;
  margin-right: 15px;
}
/* text above image */
.news-layer{
    color: var(--color-white);
    /* width: 600px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.world-news-title{
    font-size: var(--font-large);
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #fff;
}
.world-news-subtitle{
    font-size: var(--font-large);
}
.world-news-paragraph{
    font-size: var(--font-middle);
    line-height: 26px;
    max-width: 560px;
    padding-right: 30px;
}
.learn-more-btn{
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    background-color: var(--color-pink);
    color: var(--color-white);
    cursor: pointer;
}
/* TRENDING SECTION */
.section-trending{
    margin: 40px 0;
}
.trending-cards-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.trending-title{
    font-size: var(--font-large);
    line-height: 20px;
    margin-bottom: 40px;
}
.trending-card{
    width: 360px;
    height: 350px;
    background-color: var(--color-white);
    /* border: 1px solid black; */
    border-radius: 10px;
}
.trending-card-title{
    font-size: var(--font-middle);
    line-height: 20px;
}
.trending-card-description{
    font-size: var(--font-small);
    line-height: 23px;
    color: var(--color-disabled);
    font-family: 'Acumin-pro-regular';
}
.trending-card-timing{
    color: var(--color-disabled);
    font-size: var(--font-small);
    line-height: 23px;
}
.trending-card-body{
    padding: 40px;
}
/* HAPPENING NOW SECTION */
.happening-now-title{
    font-size: var(--font-large);
    line-height: 20px;
    margin-bottom: 40px;
}
.articles-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.left-large-articles, .right-small-articles{
display: flex;
flex-direction: column;
}
.left-large-articles{
    margin-right: 20px;
}
.right-small-articles{
    margin-left: 20px;
}
.article-top{
    margin-bottom: 20px;
}
.article-bottom{
    margin-top: 20px;
}
.article-top, .article-bottom{
    position: relative;
}
.article-top, .article-bottom image{
    width: 100%;
    height: auto;
}
.title-over-image{
    position: absolute;
    top: 40px;
    left: 40px;
    color: var(--color-white);
}
.article-over-image-wrapper{
    position: absolute;
    top: 60%;
    left: 40px;
    color: var(--color-white);
}
.title-over-image-large{
    font-size: var(--font-large);
    line-height: 34px;
}
.article-over-image-paragraph{
    font-size: var(--font-middle);
    line-height: 26px;
    margin-bottom: 30px;
}
.right-small-article-title{
    font-size: var(--font-middle);
    line-height: 26px;
    margin-bottom: 10px;
}
.right-small-article-timing{
    font-size: var(--font-small);
    line-height: 26px;
    color: var(--color-disabled);
}
.right-small-article-card{
    margin-bottom: 40px;
}
.left-large-articles img{
    width: 100%;
    height: auto;
}
/* FOOTER */
.footer{
    height: 200px;
    background-color: var(--color-disabled);
    padding: 55px 140px;
}
.footer-logo a{
    color: var(--color-white);
}
.footer-logo{
    margin-right: 57px;
}
.footer-content-wrapper{
    display: flex;
    justify-content: space-between;
}
.useful-links{
    display: flex;
    /* justify-content: space-between; */
    font-size: var(--font-small);
    line-height: 20px;
    color: var(--color-footer-links);
}
.about-us{
    margin: 0 40px;
}
.form-wrapper{
    position: relative;
    width: 262px;
    height: 65px;
}
.contact-input{
    width: 100%;
    background-color: inherit;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    color: var(--color-white);
    border: 2px solid rgba(255, 255, 255, .1);
    transition: .3s ease-in-out;
}
.contact-input::placeholder{
    color: var(--color-footer-links);
    opacity: .5;
}
.contact-input:hover, .contact-input:focus{
    border-width: 4px;
}
.arrow-submit-button{
    background-color: inherit;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}
/* .contact-input:focus{
    border-width: 4px;
} */
.message{
    margin-top: 15px;
    font-size: var(--font-mini);
    color: var(--color-footer-links)
}
.social-icons a{
    display: block;
    transition: .4s ease-out;
}
.social-icons a:hover{
    transition: .3s ease-in;
    transform: scale(1.2);
}
.social-icons{
    height: 100%;
    width: 160px;
    display: flex;
    justify-content: space-between;
}

/* API STYLES */
table {
    border-collapse: collapse;
    width: 100%;
  }
  th{
      text-transform: uppercase;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
/* API STYLES */
/* RESPONSIVE */
@media (max-width: 1100px) {
    .trending-card:last-child{
        margin: 20px auto;
    }
}
@media(max-width:1024px){
    .world-news-title{
        font-size: var(--font-middle);
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .world-news-subtitle{
        font-size: var(--font-middle);
    }
    .world-news-paragraph{
        font-size: var(--font-small);
        line-height: 18px;
        max-width: 460px;
        padding-right: 20px;
    }
    .learn-more-btn{
        padding: 10px 20px;
        font-size: var(--font-small);
    }
.section-world-news{
    display: flex;
    width: 100%;
}
.left-block{
    background-image: url("../img/Image.png");
    width: 59%;
    height: 400px;

}
.right-block{
    padding: var(--padding-80);
}
.more-news-title{
    max-width: 380px;
    width: 100%;
    font-size: var(--font-middle);
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #EBEDED;
}
.title-hashtag{
    font-size: var(--font-small);
    color: var(--color-pink);
    margin-bottom: 16px;
}

.article-title{
    font-size: var(--font-middle);
    line-height: 12px;
}
.article-paragraph{
    color: var(--color-disabled);
    font-size: var(--font-middle);
    line-height: 18px;
}
.article{
    margin-bottom: 29px;
}
.article-time{
    font-size: var(--font-small);
}
.article-time-icon{
  height: 16px; 
  width: 16px;
  margin-right: 15px;
}
.footer-content-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer{
    height: auto;
}
.contact-form, .social-icons{
    margin-top: 40px;
}
}
@media (max-width:769px) {
    .container{
        max-width: 610px;

    }
    .section-world-news{
        flex-direction: column;
        align-items: center;
    }
    .left-block{
        width: 100%;
    }
    .right-block{
        width: 100%;
    }
    .news-layer{
        width: 50%;
    }
    .world-news-title{
        font-size: var(--font-large);
        padding-bottom: 30px;
        margin-bottom: 40px;
        border-bottom: 2px solid #fff;
    }
    .world-news-subtitle{
        font-size: var(--font-large);
    }
    .world-news-paragraph{
        font-size: var(--font-middle);
        line-height: 26px;
        max-width: 608px;
        padding-right: 30px;
    }
    .learn-more-btn{
        border: none;
        border-radius: 5px;
        padding: 15px 30px;
        background-color: var(--color-pink);
        color: var(--color-white);
        cursor: pointer;
    }
    /* trending section */
    .trending-cards-wrapper{
        justify-content: center;
    }
    .left-large-articles{
        margin-right: 0;
    }
    .trending-card:last-child, .right-small-article-card:last-child{
        display: none;
    }
    .right-small-articles{
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        width: 100%;
    }
    .right-small-article-card img{
        max-width: 285px;
        width: 100%;
    }
    .footer{
        padding: 35px 90px;
    }
    .form-wrapper{
        width: 284px;
        transition: .2s ease-in-out;
    }
    .contact-form, .social-icons{
        margin-top: 20px;
    }
    .social-icons{
        align-self: flex-end;
    }
}
@media (max-width:670px) {
    .form-wrapper{
        width: 240px;
    }
}
@media (max-width: 600px) {
        .right-small-articles{
            flex-direction: column;
            align-items: center;
        }
}
@media (max-width: 440px) {
    .footer{
        padding: 25px 30px;
    }
    .footer-logo{
        margin: 0 0 10px 0;
    }
    .form-wrapper{
        width: 284px;
    }
    .social-icons{
        width: 90%;
        align-self: center;
    }
}